<div class="container">
  <br/>
  <div class="container" role="main">
    <div class="row justify-content-start">
      <span></span>
      <div class="col col-xs-1 col-sm-8 col-md-7 col-lg-6 col-xl-6  ">
        <!--        col-xs-2 col-sm-4 col-md-4 col-lg-4 col-xl-4-->
        <img src="assets/img/Servicios%20separador.png" width="100%" height="100%" alt="">
        <br/>
      </div>
    </div>
  </div>

  <br/>
  <div  >
    <div   class="row">
      <div class="col col-xs-1 col-sm-6 col-md-6 col-lg-6 col-xl-6
                mx-xs-0 mx-sm-0 mx-md-0 mx-lg-0 mx-xl-0
                my-xs-0 my-sm-0 my-md-0 my-lg-0 my-xl-0
                px-xs-0 px-sm-3 px-md-3 px-lg-3 px-xl-4
                py-xs-0 py-sm-0 py-md-0 py-lg-0 py-xl-0
                container-fluid">
        <div  class="card float-right anima">
          <img src="assets/img/01_nutri.png" width="100%" height="100%" alt="aa">
        </div>
      </div>
      <div class="col col-xs-1 col-sm-6 col-md-6 col-lg-6 col-xl-6
                mx-xs-0 mx-sm-0 mx-md-0 mx-lg-0 mx-xl-0
                my-xs-0 my-sm-0 my-md-0 my-lg-0 my-xl-0
                px-xs-0 px-sm-3 px-md-3 px-lg-3 px-xl-4
                py-xs-0 py-sm-0 py-md-0 py-lg-0 py-xl-0
                container-fluid">
        <div class="card float-left anima">
          <img  src="assets/img/02_fisio.png" width="100%" height="100%" alt="aa">
        </div>
      </div>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="col col-xs-1 col-sm-6 col-md-6 col-lg-6 col-xl-6
                mx-xs-0 mx-sm-0 mx-md-0 mx-lg-0 mx-xl-0
                my-xs-0 my-sm-0 my-md-0 my-lg-0 my-xl-0
                px-xs-0 px-sm-3 px-md-3 px-lg-3 px-xl-4
                py-xs-0 py-sm-0 py-md-0 py-lg-0 py-xl-0
                container-fluid">
      <div class="card float-left anima">
        <img src="assets/img/03_aerobic.png" width="100%" height="100%" alt="aa">
      </div>
    </div>
    <div class="col col-xs-1 col-sm-6 col-md-6 col-lg-6 col-xl-6
                mx-xs-0 mx-sm-0 mx-md-0 mx-lg-0 mx-xl-0
                my-xs-0 my-sm-0 my-md-0 my-lg-0 my-xl-0
                px-xs-0 px-sm-3 px-md-3 px-lg-3 px-xl-4
                py-xs-0 py-sm-0 py-md-0 py-lg-0 py-xl-0
                container-fluid">
      <div class="card float-right anima">
        <img src="assets/img/04_cardio.png" width="100%" height="100%" alt="aa">
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col col-xs-1 col-sm-6 col-md-6 col-lg-6 col-xl-6
                mx-xs-0 mx-sm-0 mx-md-0 mx-lg-0 mx-xl-0
                my-xs-0 my-sm-0 my-md-0 my-lg-0 my-xl-0
                px-xs-0 px-sm-3 px-md-3 px-lg-3 px-xl-4
                py-xs-0 py-sm-0 py-md-0 py-lg-0 py-xl-0
                container-fluid">
      <div class="card float-left anima">
        <img src="assets/img/05_potencia.png" width="100%" height="100%" alt="aa">
      </div>
    </div>
    <div class="col col-xs-1 col-sm-6 col-md-6 col-lg-6 col-xl-6
                mx-xs-0 mx-sm-0 mx-md-0 mx-lg-0 mx-xl-0
                my-xs-0 my-sm-0 my-md-0 my-lg-0 my-xl-0
                px-xs-0 px-sm-3 px-md-3 px-lg-3 px-xl-4
                py-xs-0 py-sm-0 py-md-0 py-lg-0 py-xl-0
                container-fluid">
      <div class="card float-right anima">
        <img src="assets/img/06_defPer.png" width="100%" height="100%" alt="aa">
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col col-xs-1 col-sm-6 col-md-6 col-lg-6 col-xl-6
                mx-xs-0 mx-sm-0 mx-md-0 mx-lg-0 mx-xl-0
                my-xs-0 my-sm-0 my-md-0 my-lg-0 my-xl-0
                px-xs-0 px-sm-3 px-md-3 px-lg-3 px-xl-4
                py-xs-0 py-sm-0 py-md-0 py-lg-0 py-xl-0
                container-fluid">
      <div class="card float-left anima">
        <img src="assets/img/07_corss.png" width="100%" height="100%" alt="aa">
      </div>
    </div>
    <div class="col col-xs-1 col-sm-6 col-md-6 col-lg-6 col-xl-6
                mx-xs-0 mx-sm-0 mx-md-0 mx-lg-0 mx-xl-0
                my-xs-0 my-sm-0 my-md-0 my-lg-0 my-xl-0
                px-xs-0 px-sm-3 px-md-3 px-lg-3 px-xl-4
                py-xs-0 py-sm-0 py-md-0 py-lg-0 py-xl-0
                container-fluid">
      <div class="card float-right anima">
        <img src="assets/img/08_tienda.png" width="100%" height="100%" alt="aa">
      </div>
    </div>
  </div>
  <br/>
</div>
